{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lista de Clientes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body> 
  <!-- <a href="{% url 'logout' %}">Sair</a>  -->
  <ul>

    {% for pessoa in pessoas %}
      <li>
        <a href="{% url 'atualizar_pessoa' pessoa.id %}">{{pessoa.first_name}} {{pessoa.last_name}}</a>
        <a href="{% url 'deletar_pessoa' pessoa.id%}">Deletar</a>
      </li>
    {% endfor %}

  </ul>

  <button>
    <a href="{% url 'nova_pessoa' %}">Adicionar nova pessoa</a>
  </button>  
</body>
</html>